:root {
  --primary: #bfffd1;
  --secondary: #43a78b;
  --tertiary: #579E99;
  --light-dark: #c7774f;
  --dark: #482c1f;
  --border-radius: .3rem;
  --sports: #327864;
  --cards: #4d82976c;
  --highlight: #a0fff6;
  --medium: #813f0d;
}

* {
  box-sizing: border-box;

}
.welcome.logo {
  justify-content: center;
}
.body-bg {
  background: linear-gradient(#ebb498,#9E6447,#ebb498);
  }
.logo {
  display: flex;
  width: 300px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-style: double var(--secondary);
}

.frontPage {
  background-color: #f3f3f3;
}

.row {

  height: 100%;
}

.nav-extended {

  background: linear-gradient(var(--tertiary), var(--highlight), var(--tertiary));
}

.link-container {
  text-align: left;
}

.link-container a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 30px;
  background-color: #9E6447;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.link-container a:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  background: #ebb498;
  box-shadow: 0 0 5px #98EBE5, 0 0 25px #98ebe5, 0 0 50px #98ebe5, 0 0 200px #98ebe5;


}

.container {
  width: 100%;
  display: flex;
  /* display: none; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weigHT: lighter;
  font-family: Open sans, Helvetica;
  background: #111;
  color: white;
  font-size: 100%;
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

.home {
  display: inline-block;
  background-color: var(--light-dark);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2px;
  cursor: pointer;
  margin: 0px 30px 10px 10px;
}



body {
  background-color: var(--primary);

}


h1 {
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
  color: rgb(255, 249, 238);
  background: linear-gradient(var(--medium), var(--light-dark), var(--medium));
}


h2 {
  font-size: 30px;
  color: blanchedalmond;
  text-align: left;
  background-color: #327864;
  justify-content: space-around;
}

main {
  margin: 20px auto;
  width: 94%;

}

p {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 1px;
  width: 100%;
  display: block;
  margin: 5px 1px;
  border-radius: var(--border-radius);
  color: var(--secondary);
  border: none;
  outline: none;
  background-color: var(--dark);
  transform: translate(-1px, -1px);
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-btn {
  font-size: 200%;
  text-decoration: none;
  padding: 5px;
  width: fit-content;
  margin: 5px;
  border-radius: var(--border-radius);
  color: var(--dark);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  transform: translate(-1px, -1px);

}

.nav-btn:hover {
  color: whitesmoke;
  background-color: var(--light-dark);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
  box-shadow: 0 0 5px #ffbe90, 0 0 5px #ffbe90, 0 0 10px #ffbe90, 0 0 20px #ffbe90;
}

.nav-btn-inline {
  display: inline;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--light-dark);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
  box-shadow: 0 0 5px #98EBE5, 0 0 25px #98ebe5, 0 0 50px #98ebe5, 0 0 200px #98ebe5;
}

.btn-inline {
  display: inline;
}

.btn-back {
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--secondary);
  transform: translate(-1px, -1px);
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;

}

.btn-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}


.sport-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sportChoice {
  height: 100%;
}

.sport-row {
  background-color: var(--sports);
  border: 2px solid black;
  height: 25%;
}

.description {
  height: 100%;
  padding: 0 10px 3px;

}


.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;

}

.list-item:hover {
  background-color: var(--dark);
}


.small {
  padding: 10px;
}

/* CARDS */
.card-search {
  margin: 0 0px 10px 0;
  border: 3px solid var(--dark);
  border-radius: 0 0 10px 10px;

}

.card {
  margin: 0 0px 10px 0;
  border-radius: 0 0 10px 10px;

}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: 10px 10px 0 0;
  box-shadow: black 8px;
}

#recipeImg {
  height: 100%;
  width: 100%;
  flex-grow: flex;
}

.mealCal {
  padding: 5px;
}

.card-body {
  padding: 2.5%;
  box-shadow: black 10px;
}

.display {
  flex-grow: initial;
}

/* FORM */
.form-label,
.input-field,
.form-textarea {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Equal width for each column */
  grid-gap: 10px;
  /* Gap between columns */

}

.grid-item {
  background-color: var(--cards);
  padding: 25px;
  font-size: 150%;
  font-weight: 700;
  border-radius: 5%;
  color: var(--dark);
  background: linear-gradient(#579e99, #98EBE5, #579e99);
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Single column layout */
  }
}

.form-label {
  font-size: 1.7rem;
  margin: 0 0 0 10px;
  color:#bd867f;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-field {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 10px 0 15px 0;
  font-size: 1.5rem;
  border: 2px solid #64afab;
  border-radius: var(--border-radius);
}

.line {
  border: none;
  border-top: 2px solid #9E6447;
  margin-top: 10px;
  margin-bottom: 20px;
}



/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .col.m6 {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 992px) {
  .row .col.l3 {
    width: 50%;
    float: left;
  }

  .row .col.l9 {
    width: 50%;
    float: left;
  }

  .sportChoice {
    transform: scale(1.0);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card-image {
    transform: scale(1.0);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.card-image-recipe {
  transform: scale(0.6);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .col.s12 {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .card-image {
    transform: scale(1.0);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sportChoice {
    transform: scale(1.0);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}