* {
  box-sizing: border-box;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
:root {
  --primary:#579e99;
  --p-subtle:#98EBE5;
  --p-light:#E3EDEC;
  --secondary:#9E6447;
  --s-subtle:#EBB498

}
.custom-nav {
  background:linear-gradient(var(--primary), var(--p-subtle),var(--primary));
  height: 100px;
  line-height: 100px;
}

.custom-nav li a:hover {
  background-color: var(--p-subtle);
  color: var(--secondary);
}

.btn-details {
  background-color: var(--secondary);
}

.body-bg {
background: linear-gradient(var(--s-subtle),var(--secondary), var(--s-subtle));
}

.card {
  background-color: var(--p-light);
}

.card-content ul li {
  list-style-type: square;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-title {
  color: var(--secondary);
  text-decoration: underline var(--primary);
}

.title-text {
  color: #367974;
  font-size: 3rem;
  font-weight: bold;
}

.logo-image {
  max-height: fit-content;
  max-width: 100%;
  display: block;
  margin: auto;
}

.brand-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  width: 100px;
  height: auto;
}

.card-image-recipe {
  padding: 2rem;
  background:linear-gradient(var(--primary), var(--p-subtle), var(--primary));
}

.card-image {
  text-align: center;
}

.sport-icon {
  width: 7rem;
  margin:0 auto;
  padding:.5rem;
  background:linear-gradient(var(--primary), var(--p-subtle), var(--primary));
}

.line {
  border: none;
  border-top: 2px solid var(--secondary);
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-image-recipe, .card-content.sport-icon {
  transition: all 0.8s ease;
}
@media screen and (max-width: 992px) {
  .col.m6 {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 992px) {
  .row .col.l3 {
    width: 50%;
    float: left;
  }

  .row .col.l9 {
    width: 50%;
    float: left;
  }
  .card-image-recipe {
    transform: scale(0.8);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card-content.sport-icon {
    transform: scale(0.8);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .col.s12 {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .card-image-recipe {
    transform: scale(0.7);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card-content.sport-icon {
    transform: scale(0.7);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}